.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #58249c;
  padding: 0 20px;
  color: #ffffff;
}

.navbar nav {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.navbar a {
  color: #ffffff;
  padding: 20px;
}

.navbar a.active {
  background-color: #ffffff;
  color: #58249c;
}

.navbar h1 {
  font-size: 30px;
}

.navbar a.logo {
  margin-right: auto;
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
